<div id="email-modal" class="modal fade bottom scroll-modal">
  <div class="modal-dialog" data-bind="if: emailMessage">
    <div class="modal-content">
      <form id="email-form">
        <input type="hidden" name="reply[in_reply_to_id]" data-bind="value: selectedTask().messages()[0].id"/>
        <div class="modal-body scroll-body">
          <h4 data-i18n="app:new_email.header"></h4>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="reply[is_internal]" value="false"
                       data-bind="checked: emailMessage().isInternal, checkedValue: false"/>
                <span data-i18n="app:email.response_type_client"></span>
              </label>
            </div>
           <div class="radio" style="display: none">
              <label>
                <input type="radio" name="reply[is_internal]" value="true"
                       data-bind="checked: emailMessage().isInternal, checkedValue: true"/>
                <span data-i18n="app:email.response_type_internal"></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="to" data-i18n="app:email.to"></label>
            <input id="to" class="form-control" type="text" name="reply[to]" data-bind="value: emailMessage().to">
          </div>
          <div class="form-group">
            <label for="title" data-i18n="app:email.title"></label>
            <input id="title" class="form-control" type="text" name="reply[title]" data-bind="value: emailMessage().title">
          </div>
          <div class="form-group">
            <label for="description" data-i18n="app:email.message"></label>
            <textarea id="description" class="form-control" type="text" name="reply[description]"
                      data-bind="value: emailMessage().description, valueUpdate: 'onUpdateEmailMessage'"
                      rows="10"></textarea>
          </div>
          <div class="form-group">
            <div class="fileupload-section">
              <button type="button"
                      data-bind="click: addAttachment"
                      class="btn btn-default btn-sm attach-file-button"
              ><span data-i18n="app:email.attach_file"></span>
              </button>
              <div class="fileupload template hidden fileupload-new margin-none"
                   data-provides="fileupload"
              >
                <span class="btn" data-trigger="fileupload">
                  <span class="fileupload-new" data-i18n="app:email.select_file"></span>
                  <span class="fileupload-exists" data-i18n="app:email.attach_change"></span>
                </span>
                <input class="form-control file-field margin-none hidden" id="send_email_attachments_file"
                       name="attachments[]" disabled="disabled" type="file">
                <span class="fileupload-preview"></span>
                <a href="#" class="close fileupload-exists" data-dismiss="fileupload"
                   style="float: none">×</a>
              </div>
              <br>
            </div>
          </div>

          <div id="messages-list" data-bind="foreach: selectedTask().messages">
              <div data-bind = "css: { 'left-chain' : ($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number != $parent.selectedTask().combinedMessages().length }">
                <div class="innerAll" data-bind = "css: { 'border-bottom' : $data.channel_type != 'email' && $data.channel_type != 'web_form' && $data.channel_type !== 'chat' && $data.channel_type !== 'internal' }">
                  <div class="row">
                    <!-- ko ifnot: $data._originalData.sms && ($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') -->
                    <div class="" data-bind = "css: { 'col-sm-6' : $data.channel_type != 'email' && $data.channel_type != 'web_form' && $data.channel_type != 'chat' && $data.channel_type !== 'internal' || (($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length),  'col-sm-12' : ($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number != $parent.selectedTask().combinedMessages().length}">
                      <ul class="media-list">
                        <li class="media">
                          <div class="media-body">
              
                          <!-- ko if: ($data.channel_type == 'email' || $data.channel_type == 'web_form'|| $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number != $parent.selectedTask().combinedMessages().length -->
                            <span data-bind="attr: {href: 'tel:'+$data.from}, text: $data.from"></span>
                        
                            <span class="timestamp" data-bind="text: $data.created_at_i18n"></span></br>
                            <!-- ko ifnot: $data._originalData.sms && ($data.channel_type == 'email' || $data.channel_type == 'chat' || $data.channel_type == 'web_form' || $data.channel_type == 'internal') -->
                            <span class="text-word-break" data-bind="text: toLabel()"></span><br/>
                            <!-- /ko -->
                          <!-- /ko -->
              
                          <!-- ko if: ($data.channel_type !== 'email' && $data.channel_type !== 'web_form' && $data.channel_type !== 'chat' && $data.channel_type !== 'internal') || (($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length) -->
                            <strong><span data-i18n="app:task.time"></span>:</strong>
                            <span class="timestamp" data-bind="text: $data.created_at_i18n"></span></br>
                          <!-- /ko -->  
                            <!-- ko if: $data.channel_type == 'call' && !$data._originalData.sms -->
                            <span class="item-title"><strong><span data-i18n="app:task.unanswered_call"></span> :</strong>
                                  <span data-bind="attr: {href: 'tel:'+$data.from}, text: from | from_email"></span><br/>
                                      <strong><span data-i18n="app:task.caller_name"></span>
                                        : </strong><span data-bind="text: $parent.selectedTask().caller_name"></span><br/>
                                      <strong><span data-i18n="app:task.service_channel"></span>
                                  :</strong> <span data-bind="text: $parent.selectedTask().serviceChannelName"></span>
                            </span>
              
                            <!-- /ko -->
              
                            <!-- ko ifnot: $data.channel_type == 'call' && !$data._originalData.sms -->
                            <p class="task-message-item-from-to" style="margin-bottom: 0px;">
                              <!-- ko if: $data._originalData.sms -->
                                <!-- ko ifnot: $data._originalData.inbound -->
                                  <strong><span data-i18n="app:task.text_message_sent"></span></strong><br/>
                                <!-- /ko -->
                                <!-- ko if: $data._originalData.inbound -->
                                  <strong><span data-i18n="app:task.text_message_inbound"></span></strong><br/>
                                <!-- /ko -->
              
                              <!-- ko if: !($parent.selectedTask()._originalData.media_channel === 'sms' && $data._originalData.number === 1)   -->
                                <!-- ko ifnot: true -->
                                  <span data-i18n="app:task.from"></span>
                                  <span data-bind="text: from || from_email"></span><br/>
                                 <!-- /ko -->
                              <!-- /ko -->
                              <!-- ko if: $parent.selectedTask()._originalData.caller_name && $data._originalData.inbound -->
                              <strong><span data-i18n="app:task.name_chat"></span>:</strong>
                              <span data-bind="text: $parent.selectedTask().caller_name"></span><br/>
                              <!-- /ko -->
                                <!-- ko ifnot: $data._originalData.inbound-->
                                  <strong><span data-i18n="app:task.to"></span>:</strong> <span class="text-word-break" data-bind="text: $data.to"></span><br/>
                                <!-- /ko -->
                              <!-- /ko -->
                              <!-- ko ifnot: $data._originalData.sms  -->
                                <!-- ko if: $data.from && (($data.channel_type != 'email' && $data.channel_type != 'web_form' && $data.channel_type !== 'internal'&& $data.channel_type != 'chat') || (($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length) )-->
                                  <strong><span data-i18n="app:task.from"></span>:</strong>
                                  <span data-bind="text: from || from_email"></span><br/>
                                <!-- /ko -->
                                <!-- ko if: $data.from && $data.channel_type == 'chat' && $data._originalData.number == $parent.selectedTask().combinedMessages().length -->
                                  <strong><span data-i18n="app:task.from"></span>:</strong>
                                  <span data-bind="text: $data.from"></span><br/>
                                <!-- /ko -->
                                <!-- ko if: $data.channel_type === 'chat' && $data._originalData.number == $parent.selectedTask().combinedMessages().length -->
                                  <strong><span data-i18n="app:task.created"></span>:</strong> <span class="text-word-break" data-bind="text: $data.to"></span>
                                <!-- /ko -->
                                <!-- ko if: ($data.channel_type !== 'chat' && $data.channel_type !== 'call' && $data.channel_type !== 'email' && $data.channel_type !== 'web_form' && $data.channel_type !== 'internal') || (($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length ) -->
                                  <strong><span data-i18n="app:task.to"></span>:</strong> <span class="text-word-break" data-bind="text: toLabel()"></span>
                                <!-- /ko -->
                                <br>
                                <!-- ko if: $data.channel_type == 'email' && $data.cc && $data.cc.length > 0 && $data._originalData.number == $parent.selectedTask().combinedMessages().length -->
                                  <strong><span data-i18n="app:task.send_to_cc"></span>:</strong> <span data-bind="text: $data.cc"></span>
                                  <br>
                                <!-- /ko -->
                                <!-- ko if: $data.channel_type == 'email' && $data.bcc && $data.bcc.length > 0 && $data._originalData.number == $parent.selectedTask().combinedMessages().length  -->
                                  <strong><span data-i18n="app:task.send_to_bcc"></span>:</strong> <span data-bind="text: $data.bcc"></span>
                                  <br>
                                <!-- /ko -->
                                <!-- ko if: ($data.channel_type !== 'email' && $data.channel_type !== 'web_form' && $data.channel_type !== 'chat' && $data.channel_type !== 'internal') || (($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length) -->
                                  <strong><span data-i18n="app:task.subject"></span>:</strong> <span data-bind="text: titleLabel"></span></br>
                                <!-- /ko -->
                              <!-- /ko -->
                              <!-- ko if: ($data.channel_type !== 'email' && $data.channel_type !== 'web_form' && $data.channel_type !== 'chat' && $data.channel_type !== 'internal') || (($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length) -->
                                <strong><span data-i18n="app:task.service_channel"></span>:</strong>
                                <span data-bind="text: $parent.selectedTask().serviceChannelName"></span></br>
                              <!-- /ko -->
                              <!-- ko if: (($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length && $parent.selectedTask().agent) -->
                                <strong><span data-i18n="app:task.agent_name"></span>:</strong>
                                <span data-bind="text: $parent.selectedTask().agentName"></span></br>
                              <!-- /ko -->
                            </p>
                            <!-- /ko -->
                           
                            <!-- ko if: $parent.selectedTask()._originalData.send_by_user && (($data._originalData.sms && $data.channel_type === 'call') || $data.channel_type === 'sms') && ($data.channel_type === 'call' || $data.channel_type === 'sms') && $data._originalData.number == $parent.selectedTask().combinedMessages().length -->
                              <div>
                                <strong><span data-i18n="app:task.sender"></span>:</strong>
                                <span data-bind="text: $parent.selectedTask().sendByUserFullName"></span>
                              </div>
                            <!-- /ko -->
  
                            <div class="clearfix"></div>
              
              
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!-- /ko -->
  
                     <!-- ko if: $data._originalData.sms && $parent.selectedTask()._originalData.latest_message && ($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number != $parent.selectedTask().combinedMessages().length-->
                    <div class="col-sm-12">
                        <ul class="media-list">
                          <li class="media">
                            <div class="media-body">
                              <span data-bind="attr: {href: 'tel:'+$data.from}, text: $data.from"></span>
                              <span class="timestamp" data-bind="text: $data.created_at_i18n"></span></br></br>
              
                              <strong><span data-i18n="app:task.time"></span>:</strong>
                              <span class="timestamp" data-bind="text: $data.created_at_i18n"></span></br>
                            </div>
              
                            <p class="task-message-item-from-to">
                              <!-- ko if: $data._originalData.sms -->
                                <!-- ko ifnot: $data._originalData.inbound -->
                                  <strong><span data-i18n="app:task.text_message_sent"></span></strong><br/>
                                <!-- /ko -->
                                <!-- ko if: $data._originalData.inbound -->
                                  <strong><span data-i18n="app:task.text_message_inbound"></span></strong><br/>
                                <!-- /ko -->
              
                              <!-- ko if: !($parent.selectedTask()._originalData.media_channel === 'sms' && $data._originalData.number === 1)   -->
                                <!-- ko ifnot: $data.from === window.UserDashboard.currentUserName -->
                                  <strong><span data-i18n="app:task.from"></span> :</strong>
                                  <span data-bind="text: $data.from"></span><br/>
                                <!-- /ko -->
                              <!-- /ko -->
                              <!-- ko if: $parent.selectedTask().caller_name() && $data._originalData.inbound -->
                              <strong><span data-i18n="app:task.name_chat"></span>: </strong>
                              <span data-bind="text: $parent.selectedTask().caller_name() "></span><br/>
                              <!-- /ko -->
                                <!-- ko ifnot: $data._originalData.inbound-->
                                  <strong><span data-i18n="app:task.to"></span>:</strong> <span class="text-word-break" data-bind="text: toLabel()"></span><br/>
                                <!-- /ko -->
                              <!-- /ko -->
                                <strong><span data-i18n="app:task.service_channel"></span>:</strong>
                                <span data-bind="text: $parent.selectedTask().serviceChannelName"></span>
                            </p>
                            <!-- ko if: $parent.selectedTask().showClosedByUser -->
                              <div>
                                <strong><span data-i18n="app:task.closed_by"></span>:</strong>
                                <span data-bind="text: $parent.selectedTask().closedByUserFullName"></span>
                              </div>
                            <!-- /ko -->
                          </li>
                        </ul>
                      </div>
                    <!-- /ko -->
  
                    <!-- ko if: $data._originalData.sms && $parent.selectedTask()._originalData.latest_message && ($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length-->
                    <div class="col-sm-6">
                      <ul class="media-list">
                        <li class="media">
                          <div class="media-body">
                            <strong><span data-i18n="app:task.time"></span>:</strong>
                            <span class="timestamp" data-bind="text: $parent.selectedTask()._originalData.latest_message.created_at"></span></br>
                          </div>
                          <p class="task-message-item-from-to">
                            <!-- ko if: @parent.selectedTask()._originalData..latest_message.from && $data.channel_type !== 'chat' -->
                              <strong><span data-i18n="app:task.from"></span> :</strong>
                              <span data-bind="text:  $parent.selectedTask()._originalData.latest_message.from"></span><br/>
                            <!-- /ko -->
                            <!-- ko if: $data.channel_type === 'chat' -->
                              <!-- ko if: $parent.selectedTask()._originalData.latest_message.customer -->
                                <strong><span data-i18n="app:task.from"></span> :</strong>
                                <span data-bind="text:  $parent.selectedTask()._originalData..customer.first_name + ' ' + $parent.selectedTask()._originalData.latest_message.customer.last_name"></span><br/><br/>
                              <!-- /ko -->
                              <!-- ko ifnot: $parent.selectedTask()._originalData.latest_message.customer -->
                                <!-- ko if: $parent.selectedTask()._originalData.latest_message.from == 'Anonymous' -->
                                <!-- /ko -->
                                <!-- ko ifnot: $parent.selectedTask()._originalData.latest_message.from == 'Anonymous' -->
                                  <strong><span data-i18n="app:task.from"></span>:</strong>
                                  <span data-bind="text:  $parent.selectedTask()._originalData.latest_message.from"></span><br/>
                                <!-- /ko -->
                              <!-- /ko -->
                              <strong><span data-i18n="app:task.created"></span>:</strong> <span class="text-word-break" data-bind="text: $parent.selectedTask()._originalData.latest_message.to"></span><br/>
                            <!-- /ko -->
                            <!-- ko if: $data.channel_type !== 'chat' -->
                              <strong><span data-i18n="app:task.to"></span>:</strong> <span class="text-word-break" data-bind="text: toLabel"></span><br/>
                            <!-- /ko -->
                            <!-- ko if: $data.channel_type == 'email' && $parent.selectedTask()._originalData.latest_message.cc && $parent.selectedTask()._originalData.latest_message.cc.length > 0 -->
                              <strong><span data-i18n="app:task.send_to_cc"></span>:</strong> <span data-bind="text: $parent.selectedTask()._originalData.latest_message.cc"></span>
                              <br>
                            <!-- /ko -->
                            <!-- ko if: $data.channel_type == 'email' && $parent.selectedTask()._originalData.latest_message.bcc && $parent.selectedTask()._originalData.latest_message.bcc.length > 0 -->
                              <strong><span data-i18n="app:task.send_to_bcc"></span>:</strong> <span data-bind="text: $parent.selectedTask()._originalData.latest_message.bcc"></span>
                              <br>
                            <!-- /ko -->
                            <strong><span data-i18n="app:task.subject"></span>:</strong> <span data-bind="text: $parent.selectedTask()._originalData.latest_message.title"></span></br>
                            <strong><span data-i18n="app:task.service_channel"></span>:</strong>
                            <span data-bind="text: $parent.selectedTask().serviceChannelName"></span>
                          </p>
                          <!-- ko if: $parent.selectedTask().showClosedByUser -->
                            <div>
                              <strong><span data-i18n="app:task.closed_by"></span>:</strong>
                              <span data-bind="text: $parent.selectedTask()._originalData.closedByUserFullName"></span>
                            </div>
                          <!-- /ko -->
                        </li>
                      </ul>
                    </div>
                    <!-- /ko -->
                  </div>
                </div>
        
  
              <!-- ko if: ($data.channel_type == 'email' || $data.channel_type == 'chat' || $data.channel_type == 'web_form' || $data.channel_type == 'internal') && $data._originalData.number == $parent.selectedTask().combinedMessages().length -->
              <div class="border-bottom"></div>
              <div class="left-chain">
                <div class="innerAll">
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="media-list">
                        <li class="media">
                          <div class="media-body">
                            <span data-bind="attr: {href: 'tel:'+$data.from}, text: $data.from"></span>                
                            <span class="timestamp" data-bind="text: $data.created_at_i18n"></span></br>
                            <!-- ko ifnot: $data._originalData.sms && ($data.channel_type == 'email' || $data.channel_type == 'chat' || $data.channel_type == 'web_form' || $data.channel_type == 'internal') -->
                            <span class="text-word-break" data-bind="text: toLabel()"></span><br/>
                            <!-- /ko -->
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- ko if: $data._originalData.sms && ($data.channel_type == 'email' || $data.channel_type == 'chat' || $data.channel_type == 'web_form' || $data.channel_type == 'internal') -->
                <div>
                  <ul class="media-list">
                      <li class="media">
                        <div class="media-body">
                          <strong><span data-i18n="app:task.time"></span>:</strong>
                          <span class="timestamp" data-bind="text: moment($data.createdAt).format('DD.MM.YYYY HH:mm')"></span></br>
  
                          <!-- ko ifnot: $data.channel_type == 'call' && !$data._originalData.sms -->
                          <p class="task-message-item-from-to">
                            <!-- ko if: $data._originalData.sms -->
                              <!-- ko ifnot: $data._originalData.inbound -->
                                <strong><span data-i18n="app:task.text_message_sent"></span></strong><br/>
                              <!-- /ko -->
                              <!-- ko if: $data._originalData.inbound -->
                                <strong><span data-i18n="app:task.text_message_inbound"></span></strong><br/>
                              <!-- /ko -->
  
                            <!-- ko if: !($parent.selectedTask()._originalData.media_channel === 'sms' && $data._originalData.number === 1)   -->
                              <!-- ko ifnot: $data.from === window.UserDashboard.currentUserName -->
                                <strong><span data-i18n="app:task.from"></span>:</strong>
                                <span data-bind="text: $data.from"></span><br/>
                              <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: $parent.selectedTask().caller_name && $data._originalData.inbound -->
                            <strong><span data-i18n="app:task.name_chat"></span>: </strong>
                            <span data-bind="text: $parent.selectedTask().caller_name"></span><br/>
                            <!-- /ko -->
                              <!-- ko ifnot: $data._originalData.inbound-->
                                <strong><span data-i18n="app:task.to"></span>:</strong> <span class="text-word-break" data-bind="text: $data.to"></span><br/>
                              <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko ifnot: $data._originalData.sms  -->
                              <!-- ko if: $data.from -->
                                <strong><span data-i18n="app:task.from"></span> :</strong>
                                <span data-bind="text: $data.from"></span><br/>
                              <!-- /ko -->
                              <!-- ko if: $data.channel_type === 'chat' -->
                                <strong><span data-i18n="app:task.created"></span> :</strong> <span class="text-word-break" data-bind="text: $data.to"></span>
                              <!-- /ko -->
                              <!-- ko if: ($data.channel_type !== 'chat') -->
                                <strong><span data-i18n="app:task.to"></span>:</strong> <span class="text-word-break" data-bind="text: $data.to"></span>
                              <!-- /ko -->
                              <br>
                              <!-- ko if: $data.channel_type == 'email' && $data.cc && $data.cc.length > 0 -->
                                <strong><span data-i18n="app:task.send_to_cc"></span>:</strong> <span data-bind="text: $data.cc"></span>
                                <br>
                              <!-- /ko -->
                              <!-- ko if: $data.channel_type == 'email' && $data.bcc && $data.bcc.length > 0  -->
                                <strong><span data-i18n="app:task.send_to_bcc"></span>:</strong> <span data-bind="text: $data.bcc"></span>
                                <br>
                              <!-- /ko -->
                                <strong><span data-i18n="app:task.subject"></span>:</strong> <span data-bind="text: $data.title"></span></br>
                            <!-- /ko -->
                              <strong><span data-i18n="app:task.service_channel"></span>:</strong>
                              <span data-bind="text: $parent.selectedTask().serviceChannelName"></span>
                          </p>
                          <!-- /ko -->
                          <!-- ko if: $parent.selectedTask().showClosedByUser -->
                            <div>
                              <strong><span data-i18n="app:task.closed_by"></span>:</strong>
                              <span data-bind="text: $parent.selectedTask().closedByUserFullName"></span>
                            </div>
                          <!-- /ko -->
                          <!-- ko if: $parent.selectedTask().lastMessage() && $data.channel_type === 'call' && $data._originalData.number == $parent.selectedTask().combinedMessages().length -->
                            <div>
                              <strong><span data-i18n="app:task.sender"></span>:</strong>
                              <span data-bind="text: $data.from"></span>
                            </div>
                          <!-- /ko -->
                          <div class="clearfix"></div>
                        </div>
                      </li>
                    </ul>
                </div>
                <!-- /ko -->
                <div class="innerAll">
                  <div class="innerAll" data-bind="css: internalCss">
                    <!-- ko ifnot: $data.channel_type == 'call' && !$data._originalData.sms -->
                    <div class="content">
                      <p class="formatted-message-description" data-bind="html: $data.formatted_description"></p>
                    </div>
                    <!-- /ko -->
                    <div class="innerAll">
                      <div class="media inline-block margin-none" data-bind="foreach: $data.attachments">
                        <div class="innerLR">
                          <i class="fa fa-file pull-left"></i>
                          <div class="media-body">
                            <div>
                              <a class="strong text-regular" data-bind="text: file_name, attr: {href: '/attachments/' + $parent.id + '/' + id}" download></a>
                            </div>
                            <span data-bind="text: human_file_size"></span>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
              <!-- /ko -->
              <!-- ko if: ($data.channel_type != 'email' && $data.channel_type != 'web_form' && $data.channel_type != 'chat' && $data.channel_type !== 'internal') || (($data.channel_type == 'email' || $data.channel_type == 'web_form' || $data.channel_type == 'chat' || $data.channel_type == 'internal') && $data._originalData.number != $parent.selectedTask().combinedMessages().length) -->
              <div class="innerAll">
                <div class="innerAll" data-bind="css: internalCss">
                  <!-- ko ifnot: $data.channel_type == 'call' && !$data._originalData.sms -->
                  <div class="content">
                    <p class="formatted-message-description" data-bind="html: $data.formatted_description"></p>
  
                  </div>
                  <!-- /ko -->
                  <div class="innerAll">
                    <div class="media inline-block margin-none" data-bind="foreach: $data.attachments">
                      <div class="innerLR">
                        <i class="fa fa-file pull-left"></i>
                        <div class="media-body">
                          <div>
                            <a class="strong text-regular" data-bind="text: file_name, attr: {href: '/attachments/' + $parent.id + '/' + id}" download></a>
                          </div>
                          <span data-bind="text: human_file_size"></span>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
              <!-- /ko -->
            
              </div>
              <!-- ko if: $data.channel_type !== 'email' && $data.channel_type !== 'web_form' && $data.channel_type !== 'chat' && $data.channel_type !== 'internal'  -->
              <div class="bg-background">
                <br/>
              </div>
              <!-- /ko -->
            </div>
        </div>
        <div class="modal-footer">
          <div class="pull-left">
            <div class="message-actions" data-dismiss="modal" aria-label="Close">
              <button type="button" class="btn btn-primary btn-sm" data-bind="click: onCancelEmail">
                <span class="fa fa-times"></span>
                <span data-i18n="app:email.action.cancel"></span>
              </button>
            </div>
          </div>
          <div class="pull-right">
            <div class="message-actions" data-bind="if: selectedTask">
              <div data-bind="visible: isReplyEmailSending()"
                   data-i18n="app:tasks.sending"></div>
              <button type="button" class="btn btn-primary btn-sm"
                      data-bind="click: onConfirmEmailSend, visible: showReplyEmailSubmitBut()">
                <span class="fa fa-check"></span>
                <span data-i18n="app:email.action.send"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
