<div id="new-task-modal" class="modal fade bottom scroll-modal">
    <div class="modal-dialog" data-bind="if: newTask">
        <div class="modal-content">
            <form id="new-task-form">
                <div class="modal-body scroll-body">
                    <input type=hidden name="is_mobile" value=true>
                    <h4 data-i18n="app:new_task.header"></h4>
                    <div class="form-group">
                        <label for="new_task_title" data-i18n="app:new_task.title"></label>
                        <input class="form-control" type="text" id="new_task_title" name="new_task_title" data-bind="textInput: newTask().messages()[0].title">
                    </div>
                    <div class="form-group">
                        <label for="new_task_service_channel" data-i18n="app:new_task.service_channel"></label>
                        <select class="form-control" id="new_task_service_channel" name="new_task_service_channel" data-bind="value: newTask().service_channel_id">
                            <option></option>
                            <!-- ko foreach: serviceChannels -->
                                <option data-bind="value: id, text: name"></option>
                            <!-- /ko -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="new_task_agent_id" data-i18n="app:new_task.agent"></label>
                        <select class="form-control" name="new_task_agent_id" data-bind="disable: !newTask().service_channel_id(), value: newTask().assigned_to_user_id">
                            <!-- ko foreach: serviceChannelAgents -->
                                <option data-bind="value: id, text: name"></option>
                            <!-- /ko -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="new_task_description" data-i18n="app:new_task.description"></label>
                        <textarea id="new_task_description" class="form-control" type="text" name="new_task_description" data-bind="textInput: newTask().messages()[0].description" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                      <div class="fileupload-section">
                        <button type="button"
                                data-bind="click: addAttachment"
                                class="btn btn-default btn-sm attach-file-button"
                        ><span data-i18n="app:new_task.attach_file"></span>
                        </button>
                        <div class="fileupload template hidden fileupload-new margin-none"
                             data-provides="fileupload"
                        >
                          <span class="btn" data-trigger="fileupload">
                            <span class="fileupload-new" data-i18n="app:new_task.select_file"></span>
                            <span class="fileupload-exists" data-i18n="app:new_task.attach_change"></span>
                          </span>
                          <input class="form-control file-field margin-none hidden" id="send_task_attachments_file"
                                 name="attachments[]" disabled="disabled" type="file">
                          <span class="fileupload-preview"></span>
                          <a href="#" class="close fileupload-exists" data-dismiss="fileupload"
                             style="float: none">×</a>
                        </div>
                        <br>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <div class="message-actions" data-dismiss="modal" aria-label="Close">
                            <button type="button" class="btn btn-primary btn-sm" data-bind="click: onCancelNewTask">
                                <span class="fa fa-times"></span>
                                <span data-i18n="app:new_task.action.cancel"></span>
                            </button>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="message-actions">
                            <button type="button" class="btn btn-primary btn-sm" data-bind="click: onConfirmNewTask, visible: isNewTaskComplete()">
                                <span class="fa fa-check"></span>
                                <span data-i18n="app:new_task.action.ok"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
